{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Contact Us | Lending Capital Mortgage
{% endblock title %}

{% block meta_tags %}
  <meta content="Contact Us | Lending Capital Mortgage" name="description">
  <link rel="canonical" href="https://lendingcapitalmortgage.com/contact" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://lendingcapitalmortgage.com/contact" />
	<meta property="og:title" content="Bucks County PA Mortgage Specialists" />
	<meta property="og:description" content="Contact Us | Lending Capital Mortgage" />
  <meta property="og:image" content="{% static 'img/lcm-og-img.png' %}" />
{% endblock meta_tags %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact Us</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Contact Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="contact" style="padding-top: 0px;" class="contact">


      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.0819105847345!2d-74.91128258431502!3d40.22948097938733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c155e19362ff29%3A0x48b7f2023c1c8097!2sLending%20Capital%20Mortgage%20LLC!5e0!3m2!1sen!2sus!4v1604073378333!5m2!1sen!2sus" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>12 Penns Trail, Newtown, PA 18940</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:kstegena@outlook.com">kstegena@outlook.com</a></p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p><a href="tel:2157768980">(215)776-8980</a></p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form method="post">
              {% csrf_token %}
              {% bootstrap_form_errors form %}
              <div class="row">
                <div class="col-md-12">
                  {% bootstrap_field form.name show_label=False %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.email show_label=False %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.phone show_label=False %}
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  {% bootstrap_field form.message show_label=False %}
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn submit-btn">Send Message</button>
                </div>
              </div>
            </form>

          </div>

        </div>
          <!-- End Contact Section -->
      </div>
    </section>

  </main><!-- End #main -->


{% endblock content %}