{% extends 'base.html' %}
{% load static %}

{% block title %} FHA Lending | Lending Capital Mortgage
{% endblock title %}

{% block meta_tags %}
  <meta content="Understanding FHA mortage loans. We work for you, not the lenders" name="description">
  <meta content="FHA mortgage, lowest mortgage rates, lowest fees, mortgage options" name="keywords">
  <link rel="canonical" href="https://lendingcapitalmortgage.com/services/fha-lending" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://lendingcapitalmortgage.com/services/fha-lending" />
	<meta property="og:title" content="FHA Lending | Lending Capital Mortgage" />
	<meta property="og:description" content="Understanding FHA mortage loans. We work for you, not the lenders" />
  <meta property="og:image" content="{% static 'img/lcm-og-img.png' %}" />
{% endblock meta_tags %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>FHA Lending</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>FHA</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="servicePage" class="service-page">
      <div class="container">

        <div class="section-title">
          <h2>FHA Loans</h2>
        </div>

          
        <p>An FHA loan is a mortgage backed by the Federal Housing Administration.</p>

        <p>FHA insurance protects mortgage lenders, allowing them to offer loans with below-average interest rates, easier credit requirements, 
        and low down payments (starting at just 3.5%). They are most popular with first time home buyers but also for individuals with lower income or lower credit scores.</p>
        <p>Minimum FHA Mortgage Loan Requirments:
          <ul>
            <li>3.5% minimum down payment for credit scores 580 and up</li>
            <li>10% minimum down payment for credit scores 500-579</li>
            <li>Debt-to-income ratio of 50% or less</li>
            <li>Steady income and employment history with supporting documentation</li>
            <li>The home will be your primary residence</li>
            <li>No foreclosures in the last 3 years</li>
          </ul>
        </p>

      </div>
    </section>

    <section class="service-cta">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>Start the journey toward your first home today!</h3>
          </div>
          <div class="col-md-4">
            <a href="{% url 'pre_approval_form' %}" class="btn cta-btn">Get Pre-Approved</a>

          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->


{% endblock content %}