{% extends 'base.html' %}
{% load static %}

{% block title %} Mortgage Calculator | Lending Capital Mortgage
{% endblock title %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>FHA Lending</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>FHA</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="servicePage" class="service-page">
      <div class="container">

        <div class="section-title">
          <h2>FHA Loans</h2>
        </div>

          
        <p>{% lorem 2 b random %}</p>

        <p>{% lorem 3 b random %}</p>

        <p>{% lorem 1 b random %}</p>

      </div>
    </section>

    <section class="service-cta">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>Start the journey to your first home today!</h3>
          </div>
          <div class="col-md-4">
            <a href="{% url 'pre_approval_form' %}" class="btn cta-btn">Get Pre-Approved</a>

          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->


{% endblock content %}