
{% extends 'base.html' %}
{% load static %}

{% block title %}
Lending Capital Mortgage
{% endblock title %}

{% block meta_tags %}
  <meta content="Pennsylvania's mortage specialists. We work for you, not the lenders. Most options, lowest rates, lowest fees" name="description">
  <meta content="" name="keywords">
  <link rel="canonical" href="https://lendingcapitalmortgage.com" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://lendingcapitalmortgage.com" />
	<meta property="og:title" content="Lending Capital Mortgage LLC" />
	<meta property="og:description" content="Pennsylvania's mortgage specialists" />
  <meta property="og:image" content="{% static 'img/lcm-og-img.png' %}" />
{% endblock meta_tags %}

{% block content %}

 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
        </div>
        <div class="col-lg-7">
          <h1>Pennsylvania's Mortgage Specialists</h1>
          <h2>We work for you, not the lenders</h2>
          <div class="btn-group flex-wrap">
                <a href="{% url 'pre_approval_form' %}" class="btn-get-started scrollto hero-btn">Purchase</a>
                <a href="{% url 'refinance_form' %}" class="btn-get-started scrollto her-btn">Refinance</a>
          </div>
        </div>    
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Lending Capital Mortgage?</h3>
              <p>
                Customer service is our top priority. We will work with you throughout your entire loan process to make sure you understand and are comfortable with every single step along the way.
              </p>
              <div class="text-center">
                <a href="{% url 'about' %}" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    
                    <h4>Most Options</h4>
                    <i class="fas fa-poll-h"></i>
                    <p>As a broker, we can offer you more options then most other lenders!</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    
                    <h4>Lowest Rates</h4>
                    <i class="fas fa-percent"></i>
                    <p>Our goal is to shop with hundreds of lenders to find you the best rate.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    
                    <h4>Lowest Fees</h4>
                    <i class="fas fa-file-download"></i>
                    <p>We never charge processing, application, or credit report fees!</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
            <a href="https://youtu.be/AjVsET-H-WU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>About Us</h3>
            <!-- <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p> -->

            <div class="icon-box">
              <div class="icon"><i class="far fa-handshake"></i></div>
              <h4 class="title"><a href="">Customer Service</a></h4>
              <p class="description">Lending Capital Mortgage pioneered the idea of one-stop shopping for homebuyers. Today, the LCM family offers you easy access not only to mortgage financing, but also to settlement services, and homeowners and title insurance all under one roof: ours.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4 class="title"><a href="">Experience</a></h4>
              <p class="description">We have over 45 years of collective experience</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="fas fa-graduation-cap"></i></div>
              <h4 class="title"><a href="">Continued Education</a></h4>
              <p class="description">We not only take the required continued education but we opt into 3 seminars a year to make sure we are keeping up with current trends.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    {% include 'includes/services_section.html' %}
    <!-- End Services Section -->



    <!-- ======= Our Process Section ======= -->
    {% include 'includes/our_process_section.html' %}
    <!-- End Our Process Section -->

    <!-- ======= Pre-Approval Section ======= -->
    <section id="preApprovalForm" class="pre-approval-form parallax">
      <div class="container">

        <div class="section-title">
          <h2>Get Your Pre-Approval</h2>
          <p>One of our experienced agents will contact you to get your pre-approval started within 1 business day!</p>
        </div>

        <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="col-md-4 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="text-center"><button type="submit">Submit</button></div>
        </form>

      </div>
    </section><!-- End Pre-Approval Section -->


{% comment %} 
    <!-- ======= Counts Section ======= -->
    <section id="mortgage-calc" class="mortgage-calc section-bg">
      <div class="container">

        <div class="mortgage-calc-iframe"><p align="center"><img src="https://www.mortgagecalculator.org/images/mortgage-calculator-logo.png" width="589" height="57" alt="MortgageCalculator.org" border="0" style="max-width: 100%;" target="_blank"></p> <iframe id="mortgageCalc" src="https://www.mortgagecalculator.org/webmasters/?downpayment=50000&homevalue=300000&loanammount=250000&interestrate=4&loanterm=30&propertytax=2400&pmi=1&homeinsurance=1000&monthlyhoa=0" style="width: 100%; height: 1200px; border: 0; background-color:black;"></iframe>
        </div>

      </div>
    </section><!-- End Counts Section --> {% endcomment %}







    <!-- ======= Testimonials Section ======= -->
    {% include 'includes/testimonial_section.html' %}
    <!-- End Testimonials Section -->

    <!-- ======= Pre-Approval Section ======= -->
    <section id="mortgageCalcBanner" class="parallax">
      <div class="container">

      <div class="row">
        <div class="col-lg-9 mx-auto">
          <h3>Curious about your mortgage payment?</h3>
          <p>Try our mortgage calculator to get your estimated monthly payments</p>
        </div>
        <div class="col-lg-3 text-center align-self-center">
          <a href="{% url 'mortgage_calc' %}" class="btn btn-lg mortgage-calc-banner-btn">Mortgage Calculator</a>
        </div>
      </div>

      </div>
    </section><!-- End Pre-Approval Section -->


    <!-- ======= Gallery Section ======= -->
      {% include 'includes/wall_of_fame_section.html' %}
    <!-- End Gallery Section -->

  </main><!-- End #main -->







{% endblock content %}

{% block footscript %}

{% endblock footscript %}

