{% extends 'base.html' %}
{% load static %}

{% block title %} Jumbo Lending | Lending Capital Mortgage
{% endblock title %}

{% block meta_tags %}
  <meta content="Understanding jumbo mortage loans. We work for you, not the lenders" name="description">
  <meta content="jumbo mortgage, lowest mortgage rates, lowest fees, mortgage options" name="keywords">
  <link rel="canonical" href="https://lendingcapitalmortgage.com/services/jumbo-lending" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://lendingcapitalmortgage.com/services/jumbo-lending" />
	<meta property="og:title" content="Jumbo Lending | Lending Capital Mortgage" />
	<meta property="og:description" content="Understanding jumbo mortage loans. We work for you, not the lenders" />
  <meta property="og:image" content="{% static 'img/lcm-og-img.png' %}" />
{% endblock meta_tags %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Jumbo Lending</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Jumbo</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="servicePage" class="service-page">
      <div class="container">

        <div class="section-title">
          <h2>Jumbo Loans</h2>
        </div>

          
        <p>A jumbo mortgage is any home loan that exceeds $510,400.</p>

        <p>To aquire a Jumbo Loan, there are a different set of rules because mortgages on higher priced homes are not standardized.</p>

        <p>We work with many banks and lending institutions have created their own programs to accomodate these larger loans.</p>

      </div>
    </section>

    <section class="service-cta">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>Start the journey toward your new home today!</h3>
          </div>
          <div class="col-md-4">
            <a href="{% url 'pre_approval_form' %}" class="btn cta-btn">Get Pre-Approved</a>

          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->


{% endblock content %}