
{% extends 'base.html' %}
{% load static %}

{% block title %}
Montgomery County PA Mortgage Specialists
{% endblock title %}

{% block meta_tags %}
  <meta content="Montgomery County PA Mortgage Specialists. We work for you, not the lenders. Most options, lowest rates, lowest fees" name="description">
  <meta content="lowest mortgage rates, lowest fees, mortgage options" name="keywords">
  <link rel="canonical" href="https://lendingcapitalmortgage.com/montgomery-county-mortgages" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://lendingcapitalmortgage.com/montgomery-county-mortgages" />
	<meta property="og:title" content="Montgomery County PA Mortgage Specialists" />
	<meta property="og:description" content="Montgomery County PA Mortgage Specialists. We work for you, not the lenders. Most options, lowest rates, lowest fees" />
  <meta property="og:image" content="{% static 'img/lcm-og-img.png' %}" />
{% endblock meta_tags %}

{% block content %}

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">


          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column justify-content-center py-5 px-lg-5 mt-5">
            <h3>Montgomery County Mortgage Specialists</h3>
            <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

            <div class="icon-box">
              <div class="icon"><i class="fas fa-file-invoice-dollar"></i></div>
              <h4 class="title"><a href="">Average Home Price</a></h4>
              <p class="description">The median home value in Bucks County, PA is $341,419 in 2020. Bucks County home values have gone up 5.5% over the past year and Zillow predicts they will rise 7.1% in the next year</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="fas fa-ruler"></i></div>
              <h4 class="title"><a href="">Average Price Per SqFt</a></h4>
              <p class="description">According to Realtor.com the average price per square foot is approximately $168</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="fas fa-coins"></i></div>
              <h4 class="title"><a href="">Average Property Taxes</a></h4>
              <p class="description">The average homeowner pays $3,834 per year in property taxes or 1.29% of the assessed fair value.</p>
            </div>

          </div>

          <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch">
            <img src="{% static 'img/montgomery-county-pa-map.png' %}" alt="map of montgomery county pennsylvania" class="img-fluid">
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    {% include 'includes/faq_section.html' %}
    <!-- End Frequently Asked Questions Section -->



    <!-- ======= Our Process Section ======= -->
    {% include 'includes/our_process_section.html' %}
    <!-- End Our Process Section -->





    <section class="service-cta">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>Start the journey toward owning your new home today!</h3>
          </div>
          <div class="col-md-4">
            <a href="{% url 'pre_approval_form' %}" class="btn cta-btn">Get Pre-Approved</a>

          </div>
        </div>
      </div>
    </section>


  </main><!-- End #main -->







{% endblock content %}

{% block footscript %}

{% endblock footscript %}

