{% extends 'base.html' %}
{% load static %}

{% block title %} USDA Lending | Lending Capital Mortgage
{% endblock title %}

{% block meta_tags %}
  <meta content="Understanding USDA mortage loans. We work for you, not the lenders" name="description">
  <meta content="USDA mortgage, lowest mortgage rates, lowest fees, mortgage options" name="keywords">
  <link rel="canonical" href="https://lendingcapitalmortgage.com/services/usda-lending" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://lendingcapitalmortgage.com/services/usda-lending" />
	<meta property="og:title" content="USDA Lending | Lending Capital Mortgage" />
	<meta property="og:description" content="Understanding USDA mortage loans. We work for you, not the lenders" />
  <meta property="og:image" content="{% static 'img/lcm-og-img.png' %}" />
{% endblock meta_tags %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>USDA Lending</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>USDA</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="servicePage" class="service-page">
      <div class="container">

        <div class="section-title">
          <h2>USDA Loans</h2>
        </div>

          
        <p>USDA loans are mortgages backed by the U.S. Department of Agriculture as part of its ‘Rural Development Guaranteed Housing Loan’ program.</p>

        <p>They are available to home buyers with low-to-average income for their area. Offering up to 100% financing with reduced mortgage insurance premiums and below-market mortgage rates.</p>

        <p>USDA Loan Requiments:
          <ul>
            <li>Based on the buyer and the property</li>
            <li>Be in a qualified rural area - defined by USDA as having a population under 20,000</li>
            <li>Meet USDA monthly income caps</li>
            <li>Meet ability to replay standards (income eligibility, credit score, existing debt ratio</li>
          </ul>
        </p>

      </div>
    </section>

    <section class="service-cta">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>Start the journey toward your new home today!</h3>
          </div>
          <div class="col-md-4">
            <a href="{% url 'pre_approval_form' %}" class="btn cta-btn">Get Pre-Approved</a>

          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->


{% endblock content %}