{% extends 'base.html' %}
{% load static %}

{% block title %} VA Lending | Lending Capital Mortgage
{% endblock title %}

{% block meta_tags %}
  <meta content="Understanding VA mortage loans. We work for you, not the lenders" name="description">
  <meta content="va mortgage, lowest mortgage rates, lowest fees, mortgage options" name="keywords">
  <link rel="canonical" href="https://lendingcapitalmortgage.com/services/va-lending" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://lendingcapitalmortgage.com/services/va-lending" />
	<meta property="og:title" content="VA Lending | Lending Capital Mortgage" />
	<meta property="og:description" content="Understanding va mortage loans. We work for you, not the lenders" />
  <meta property="og:image" content="{% static 'img/lcm-og-img.png' %}" />
{% endblock meta_tags %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>VA Lending</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>VA</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="servicePage" class="service-page">
      <div class="container">

        <div class="section-title">
          <h2>VA Loans</h2>
        </div>

          
        <p>Backed by the U.S. Department of Veterans Affairs, VA loans are designed to help active-duty military personnel, veterans and certain other groups become homeowners at an affordable cost.</p>

        <p>The VA loan asks for no down payment, requires no mortgage insurance, and has lenient rules about qualifying, among many other advantages.</p>
        <p>VA Loan Benefits:
          <ul>
            <li>No down payments required</li>
            <li>No mortgage insurance</li>
            <li>Guaranteed by the government</li>
            <li>You can still shop for the best rates</li>
            <li>No prepayment penalties</li>
            <li>Lower closing costs</li>
          </ul>
        </p>

      </div>
    </section>

    <section class="service-cta">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>Start the journey toward your new home today!</h3>
          </div>
          <div class="col-md-4">
            <a href="{% url 'pre_approval_form' %}" class="btn cta-btn">Get Pre-Approved</a>

          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->


{% endblock content %}