    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">What’s the difference between being pre-qualified and pre-approved? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  An informal conversation with a lender about your income, assests, and down payment is all you need to be pre-qualified. A pre-approval requires the documentation to prove your income, credit score, and an application. The pre-approval is a little more work and takes a bit of time but carries a lot more weight.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">How much should you save for a down payment? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Your minimum down payment will be dependent on the estimated purchase price of your potential home, the loan program, and also your credit score. Down payments can be as low as 0% for Veterans qualifying for a VA loan or 3.5% for the general public.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">How long does it take to close on a house? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                    The average time to close on a house is 45 days but it can be shorter or longer. This is usually negotiated with the home seller when you make your offer. Factors such as your loan type can also impact the closing timeline.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">How do you lock your interest rate? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  Mortgage interest rates can change day to day, locking your rate is an important part of the mortgage process. Locking your interest rate guarantees a certain interest rate for a specific period of time, usually between 30 and 60 days. In most cases, you can lock your interest rate as soon as your initial loan is approved. However, most buyers wait until they have found a specific home to purchase and are officially under contract.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">What is private mortgage insurance (PMI)? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  PMI or Private Mortgage Insurance is provided by a private company to protect the mortgage lender against losses that might be incurred if a loan defaults.  It can make a big difference in how quickly your mortgage loan is approved and how much money you spend on a down payment. It is required if the loan amount is more than 80% of the home’s value.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section>

