{% load static %}    
    <section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>Our Lending Process</h2>
          <p>Making sure you understand and are informed through every step of the lending process is our top priority.</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Pre-Qualification</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Underwriting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Approval</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Closing</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="details">

                    <h3>Pre-Qualification</h3>
                    <p class="font-italic">Pre-Qualification means that the lender is confident that you’ll make the down payment and that you have an income that can cover future payments.</p>
                    <p>To complete the pre-qualification you will need to provide income verification, asset information, valid identification, and we will pull your credit report to help determine how much home you can afford. </p>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="details">
                    <h3>Underwriting</h3>
                    <p class="font-italic">Underwriting is the mortgage lender’s process of assessing the risk of lending money to you.</p>
                    <p>A mortgage underwriter’s job is to assess delinquency risk, meaning the overall risk that you would not repay the mortgage. The process can take from a few days to a few weeks.</p>

                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="details">

                    <h3>Approval</h3>
                    <p class="font-italic">Approval means the lender has checked your credit and verified the documentation to approve a specific loan amount.</p>
                    <p>Once you are approved for your loan, it’s important to lock in an interest rate and loan terms, such as how long the long will last and whether the interest rate is fixed or adjustable, with your lender. Locking in commits your lender to funding your loan at the specified rate.</p>

                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="details">

                    <h3>Closing</h3>
                    <p class="font-italic">The closing is the last step in buying and financing a home</p>
                    <p>This is when you and all the other parties in a mortgage loan transaction sign the necessary documents and you take ownership of your new property!</p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt-4 mt-lg-0 process-video-box d-flex justify-content-center align-items-stretch">
            <a href="https://youtu.be/AjVsET-H-WU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
        </div>

      </div>
    </section>