    <!-- ======= Services Section ======= -->
    <section id="servicesHome" class="services parallax">
      <div class="container">

        <div class="section-title">
          <h2>Loan Products</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3">
            <a href="{% url 'conventional' %}">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-hand-holding-usd"></i></div>
                <h4>Conventional</h4>
                <p>A Conventional Mortgage is a home buyer's loan that is not offered or secured by a government entity.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3">
            <a href="{% url 'fha' %}">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-house-user"></i></div>
                <h4>FHA</h4>
                <p>An FHA Loan is a mortgage that's insured by the Federal Housing Administration.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3">
            <a href="{% url 'va' %}">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-flag-usa"></i></div>
                <h4>VA</h4>
                <p>A VA loan is a $0-down mortgage option issued by private lenders and partially backed, or guaranteed, by the Department of Veterans Affairs.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3">
            <a href="{% url 'usda' %}">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-leaf"></i></div>
                <h4>USDA</h4>
                <p>A USDA home loan is a zero down payment mortgage for eligible rural and suburban homebuyers backed by the US Department of Agriculture.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3">
            <a href="{% url 'non-qm' %}">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-piggy-bank"></i></div>
                <h4>Non QM</h4>
                <p>A Non-Qualified Mortgage is any home loan that doesn't comply with the Consumer Financial Protection Bureau's existing rules on Qualified Mortgages.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3">
            <a href="{% url 'jumbo' %}">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-search-dollar"></i></div>
                <h4>Jumbo</h4>
                <p>As the name implies, a jumbo loan covers a larger-than-normal loan amount. The maximum size of a jumbo loan varies by lender.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3">
            <a href="{% url 'dpa' %}">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-sort-amount-down"></i></div>
                <h4>DPA Programs</h4>
                <p>Down payment assistance (DPA) programs help homebuyers with loans or grants that reduce the amount they need to save for a down payment.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3">
            <a href="{% url 'refinancing' %}">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-balance-scale-left"></i></div>
                <h4>Refinancing</h4>
                <p>Refinancing is replacing an existing mortgage with a new at a lower rate or to get cash out of your home's equity.</p>
              </div>
            </a>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->