{% load static %}    
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
              <h3>Kevin is Awesome</h3>
              <h4>Sarah Peterman from Harleysville, PA</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I worked with Kevin buying my first home. He and his team were awesome to work with. The process went so smoothly and he got me a GREAT interest rate.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
              <h3>Kevin Stegena was excellent!</h3>
              <h4>Autumn from Quakertown, PA</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Kevin went above and beyond to get the closing date to stay at the original closing date even when there were so many obstacles. He got us a great interest rate and saved us a lot of money.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
              <h3>Excellent Experience</h3>
              <h4>Bill Steinberg from Doylestown, PA</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Kevin and Lending Capital Mortgage made our home buying experience extremely easy and enjoyable! We got great rates and were able to close on our dream home earlier than expected. I would definitely recommend working with them !
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
              <h3>Outstanding service</h3>
              <h4>Justin Steffens from Womelsdorf, PA</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Kevin was absolutely amazing with everything every single step of the way. Working till all hours of the night to make sure my family was informed and got us the home of our dreams. I can’t thank him enough for what he did for us and would highly recommend him to anyone that is looking to purchase a home.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
              <h3>Hands Down Best Lender Available</h3>
              <h4>Matt from Levittown, PA</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Kevin is amazing. He got us the best rate we could find, we closed incredibly quickly, he explained everything for every step of the way, and was incredible responsive regardless of the hour I reached out. Wouldn’t ever dream of using anyone else
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>
        <div class="text-center mt-4">
          <a href="https://www.zillow.com/lender-profile/kstegena2/" class="btn btn-primary zillow-btn" target="_blank"><img src="{% static 'img/zillow-logo.png' %}" style="vertical-align:middle"> <span>Reviews</span></a>
        </div>

      </div>
    </section>