{% load static %}    
    <section id="gallery" class="gallery section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Wall of Fame Closings</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof1.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof2.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof3.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof4.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof5.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof5.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof6.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof6.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof7.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof7.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>


          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof8.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof8.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof9.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof9.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof10.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof10.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof11.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof11.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof12.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof12.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          {% if not request.resolver_match.view_name == 'home' %}

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof13.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof13.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof14.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof14.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof15.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof15.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof16.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof16.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof17.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof17.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof18.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof18.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof19.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof19.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof20.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof20.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof21.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof21.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof22.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof22.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof23.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof23.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof24.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof24.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof25.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof25.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof26.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof26.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof27.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof27.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof28.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof28.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof29.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof29.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof30.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof30.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof31.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof31.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>


          <div class="col-lg-2 col-md-4 col-6 mx-auto">
            <div class="gallery-item">
              <a href="{% static 'img/walloffame/wof32.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/walloffame/wof32.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          {% endif %}





        </div>

        {% if request.resolver_match.view_name == 'home' %}
        <div class="row">
          <div class="col-12 text-center">
              <a href="{% url 'wall_of_fame' %}" class="appointment-btn">View All</a>

          </div>
        </div>
        {% endif %}

      </div>
    </section>