{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
  {% block title %}
  {% endblock title %}</title>

  {% block meta_tags %}
  {% endblock meta_tags %}  
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="canonical" href="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:title" content="Lending Capital Mortgage LLC" />
	<meta property="og:description" content="Pennsylvania's mortgage specialists" />
  <meta property="og:image" content="{% static 'img/lcm-og-img.png' %}" />
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c47990e7cb.js" crossorigin="anonymous"></script>

  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:kstegena@outlook.com">kstegena@outlook.com</a>
        <i class="icofont-phone"></i> <a href="tel:2157768980">(215)776-8980</a>
        <i class="icofont-google-map"></i> 12 Penns Trail, Newtown, PA 18940
      </div>
      {% comment %} <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div> {% endcomment %}
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      {% comment %} <h1 class="logo mr-auto"><a href="index.html">LCM</a></h1> {% endcomment %}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{% url 'home' %}" class="logo mr-auto"><img src="{% static 'img/lcm-logo.png' %}" alt="lending capital mortgage logo" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li {% if request.resolver_match.view_name == 'home' %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
          <li {% if request.resolver_match.view_name == 'about' %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
          <li class="drop-down"><a href="">Services</a>
            <ul>
              <li><a href="#">Conventional Lending</a></li>
              <li><a href="#">FHA Lending</a></li>
              <li><a href="#">VA Lending</a></li>
              <li><a href="#">Non QM Lending</a></li>
              <li><a href="#">Jumbo Lending</a></li>
              <li><a href="#">Refinancing</a></li>
            </ul>
          </li>
          <li><a href="#services">Wall of Fame</a></li>
          <li {% if request.resolver_match.view_name == 'mortgage_calc' %}class="active"{% endif %}><a href="{% url 'mortgage_calc' %}">Mortgage Calculator</a></li>         
          <li {% if request.resolver_match.view_name == 'contact' %}class="active"{% endif %}><a href="{% url 'contact' %}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="#appointment" class="appointment-btn scrollto">Get Pre-Approved</a>

    </div>
  </header><!-- End Header -->

    {% block content %}
    {% endblock content %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Lending Capital Mortgage</h3>
            <p>NMLS# 1558801</p>
            <p>
              12 Penns Trail<br>
              Newtown, PA 18940<br>
              <br>
              <strong>Phone:</strong> <a href="tel:2157768980">(215)776-8980</a><br>
              <strong>Email:</strong> <a href="mailto:kstegena@outlook.com">kstegena@outlook.com</a><br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Mortgage Calculator</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Get Pre-Approved</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Service Areas</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bucks County</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Montgomery County</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Philadelphia County</a></li>
              {% comment %} <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> {% endcomment %}
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lending Capital Mortgage LLC, NMLS #1558801</span></strong>. All Rights Reserved<br><small><a href="https://www.philadelphiamedialab.com/">Website Design & Development</a> by Philadelphia Media Lab</small>
        </div>
        
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

    {% block footscript %}
    {% endblock footscript %}

</body>

</html>